
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";}
  <script src="~/Scripts/jquery-1.10.2.min.js"></script>                      
<script type="text/javascript">

    $(document).ready(function () {
        //$.ajax({
        //    url: "http://localhost:54929/api/accounts/users",
        //    type: "GET",
        //    dataType:"json",
        //    success: function (data) {
        //        for (var i = 0; i < data.length; i++) {
        //            $("<tr><td>" + data[i].Id + "</td><td>" + data[i].UserName + "</td><td>" + data[i].Roles + "</td></tr>" + data[i].Claims + "</td></tr>").appendTo("#Application name");
        //        }
        //    },
        //    error: function (msg) { alert(msg); }
        //});
        $.getJSON("http://localhost:54929/api/accounts/users")
        .done(function(data)
        {
            //alert(data[0].id)
            for (var i = 0; i < data.length; i++) {
                           $("<tr><td>" + data[i].id + "</td><td>" + data[i].userName + "</td><td>" + data[i].roles + "</td></tr>" + data[i].claims + "</td></tr>").appendTo("#students");
                //alert(data[i].UserName)
            }
        })
        .fail(function(x,y,z){
            alert("fail api call")
        })
    });
</script>
<h2>Data</h2>
<h2>Index</h2>

<div id="body">
    <section class="content-wrapper main-content">
        <table id="students" class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Name")</th>

                    <th>@Html.DisplayName("Course")</th>

                    <th>@Html.DisplayName("City")</th>
                </tr>
            </thead>
        </table>
    </section>
</div>

