
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<h2>Index</h2>

@*<div id="body">
    <section class="content-wrapper main-content">
        <table id="students" class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Id")</th>

                    <th>@Html.DisplayName("UserName")</th>

                    <th>@Html.DisplayName("Roles")</th>
                </tr>
            </thead>
        </table>
    </section>
</div>*@
